      body {
        font-family: Poppins;
        padding: 10px 12px 10px 12px;
      }
      .form-content {
        border: 1px solid;
        padding: 4px 6px 4px 6px;
        max-width: 900px;
      }
      #btnSubmit {
        background: blue;
        color: white;
      }
      #btnReset {
        background: red;
        color: white;
      }
      .column {
        display: flex;
        gap: 10px;
      }
